<!DOCTYPE html>
<html>
  <head>
    <title>Select Active Bucket</title>
  </head>
  <body>
    <h1>Select Active Bucket</h1>
    <form method="post" action="/set-active-bucket">
      <label for="bucket_name">Select Bucket:</label>
      <select id="bucket_name" name="bucket_name">
        {% for bucket in BUCKET_OPTIONS %}
        <option value="{{ bucket }}">{{ bucket }}</option>
        {% endfor %}
      </select>
      <button type="submit">Set Active Bucket</button>
    </form>
  </body>
</html>
